/*
Website Name: NASA Astronauts
Description: To inspire interest in NASA and share women who have impacted space exploration.
Author(s): The Sparkbox Team
*/

/* =Google Fonts
---------------------------*/
@import 'https://fonts.googleapis.com/css?family=Bungee|Ubuntu';

/* =Structure
---------------------------*/
body {
  font-family: Ubuntu, sans-serif;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/187/illusions.png);
  background-position: top center;
  background-color: black;
  margin: 0;
  line-height: 1.5;
}
#site {
  background-color: whitesmoke;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/187/bright_squares.png);
  background-position: top center;
  background-attachment: fixed;
  max-width: 1000px;
  margin: auto;
  width: calc(100% - 20px)
}

/* =Elements
---------------------------*/
img {
  max-width: 100%;
  height: auto;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.75rem;
  color: deeppink;
  font-weight: normal;
  font-family: 'Bungee', sans-serif;
  text-transform: uppercase;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.125rem;
}
blockquote {
  font-style: italic;
  margin-left: 2.25rem;
}
p {
  margin-bottom: 1.75rem;
}
p:last-child {
  margin-bottom: 0;
}
a {
  color: dodgerblue;
}
ul {
  list-style: disc;
  margin-left: 1.75rem;
  margin-bottom: 1.75rem;
}
.caption {
  font-size: 0.75rem;
  font-style: italic;
  margin-left: 0.50rem;
  margin-right: 0.50rem;
}

/* =Header
---------------------------*/
#site-header {
  overflow: auto;
  padding: 1.25rem 2.25rem;
  background: deepskyblue;
  border-bottom: 0.25rem solid dodgerblue;
}
#site-title {
  font-size: 2.25rem;
  margin: 0;
  color: azure; 
  float: left;
}

/* =Navigation
---------------------------*/
#site-navigation {
  float: right;
}
#site-navigation a {
  text-decoration: none;
  display: inline-block;
  color: white;
  font-size: 1.125rem;
  padding: 0 1.25rem;
}
#site-navigation a:hover {
  color: black;
}

/* =Content
---------------------------*/
#content-wrapper {
  padding: 2.25rem;
  overflow: auto;
}
#site-content {
  width: 65%;
  margin-right: 5%;
  float: left;
}

/* =Sidebar
---------------------------*/
#sidebar {
  width: 30%;
  float: left;
  font-size: 0.75rem;
  line-height: 1.375rem;
  text-align: center;
}
.widget {
  margin-bottom: 1.25rem;
}

/* =Columns
---------------------------*/
#columns {
  display: grid;
  gap: 1rem;
  background-color: black;
  color: azure;
  overflow: hidden;
  padding: 2.25rem;
}
#columns h2 {
  color: azure;
}
.column {
  width: 32%;
  float: left;
  margin-right: 2%;
}
.column.last {
  margin-right: 0;
}

/* =Footer
---------------------------*/
#site-footer {
  background-color: black;
  color: azure;
  overflow: auto;
  padding: 1.25rem 2.25rem;
  font-size: 0.875rem;
  line-height: 1.25;
}

/* Crafted with love at Sparkbox */


@media (min-width: 376px) {

  #site-title {
    font-size: 1.6em;
    margin: 0;
    color: white;
    float: left;
    line-height: 2.2rem;
  }

  #site-hero img {
    width: 100%;
    height: 12rem;
  }

  .credit {
    margin-left: 1rem;
    font-size: 0.75rem;
  }

  #site-content {
    width: 100%;
  }

  #sidebar {
    width: 100%;
  }

  #site-content h2 {
    font-size: 1.4rem;
    text-align: center;
  }

  #site-content p {
    text-align: center;
  }

  #site-content blockquote {
    text-align: center;
    margin-left: 1.9em;
  }

  .widget img {
    width: 60%;
    margin-top: 2.5rem;
    margin-left: 5em;
  }

  .caption {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: .65rem;
  }

  .widget-header {
    font-size: 1.4rem;
    margin-top: 3.125rem;
  }

  #columns h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  .column {
    width: 100%;
  }

  .column h3 {
    text-align: center;
    font-size: 1.2rem;
  }

  .column p {
    margin-top: 0.625em;
    text-align: center;
  }

  #site-footer {
    width: 100%;
    align-items: center;
  }
}

  
@media (min-width: 461px) {

  #site-content ul {
    margin-top: 3rem;
  }

  .widget img {
    width: 60%;
    margin-top: 2.5rem;
    margin-left: 3rem;
  }

  .column img {
    width: 80%;
    margin-left: 35px;
  }

  .column {
    width: 100%;
  }
}

@media (min-width: 769px) {
  
  #content-wrapper {  
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* background: blue;  */ 
  }

  #site-title {
    font-size: 1.6em;
    margin: 0;
    /* margin-left: -10px; */
    color: white;
    float: left;
    line-height: 1.5;
  }

  #site-navigation a {
    text-decoration: none;
    color: white;
    font-size: 1.125em;
    padding: 0 1.25em;
    /* margin-top: 0.25em; */
  }

  #site-hero img {
   height: 21.875rem;
  }

  .widget img {
    margin-left: 1.25rem;
  } 

  #columns h2 {
    font-size: 2rem;
    display: flex;
  }

  .column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}